article {
	display: inline-block;
	position:  relative;
	width: 45%;
	margin-left: 2.5%;
	margin-bottom: 15px;
	height: 3em;
	background: #F8F8FF;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 0px 0px 8px #888888, 0px 0px 8px #888888;
	transition:
		font-size 2.2s,
		box-shadow 1.2s,
		border-radius 1.75s,
		transform 1.6s;
}

article:hover {
	transform: scale(1.05);
  	font-size: 1.3em;
}
.izquierda:hover {
	box-shadow: 0px 0px 28px #AAAAAA,-10px 0px 8px #888888;
	border-radius: 15px 32px 32px 15px;
}
.derecha:hover {
	box-shadow: 0px 0px 28px #AAAAAA,10px 0px 8px #888888;
	border-radius: 32px 15px 15px 32px;
}
article > p, article > a {
	display: inline-block;
	height: 2em;
	padding: 0;
	margin-left: 20px;
	position: absolute;
  	top: 50%;
  	margin-top: -.75em;
  	margin-bottom: 15px;
}
